cryptography
duckduckgo-search
fastapi
huggingface-hub
jinja2
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-huggingface
langchain-ollama
langgraph
llama-cpp-python
numpy
pandas
python-multipart
python-dotenv
sqlalchemy
transformers
uvicorn