
# LangGraph API
.langgraph_api
.env
package-lock.json

*.log
*.local
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc

**/__pycache__/**
.DS_Store/**
dist
frontend/dist
frontend/dist-ssr
backend/data

.vscode/**
node_modules/**
langgraph_codegen/node_modules/**
ref/**
.workflow/**
.demo_workdir_test/**
src/workflow_agents/runtime/codex_schema/json_schema/*.json
src/workflow_agents/runtime/codex_schema/*.json